<nav>
    <div class="site-title">
      <a href="/"><h1>Toys Story</h1></a>
      <p>Toys management sites</p>
    </div>
    <ul>
      <li><a href="/">Toys List</a></li>
      <li><a href="/toys/dashboard">Dashboard</a></li>
      <li><a href="/toys/create">Toys Add</a></li>
    </ul>
  </nav>